<component name="ArtifactManager">
  <artifact type="war" build-on-make="true" name="Spring-Hibernate-JPA:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring-Hibernate-JPA.war">
      <element id="artifact" artifact-name="Spring-Hibernate-JPA:war exploded" />
    </root>
  </artifact>
</component>